@model JEIFinalPro.Models.Blog

@{
    ViewData["Title"] = "BlogDetails";
}

<h2>BlogDetails</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogImg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogImg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
